In [15]:
# README
# SET MERUPAKAN TIPE DATA UNTUK MENYIMPAN BANYAK DATA (DAPAT BERUPA INT, STRING, BOOLEAN)
# SET SELALU MENGGUNAKAN TANDA "{}"
# SET TIDAK DAPAT DIAKSES BERDASARKAN INDEX ATAU KEY, NAMUN DAPAT DILOOPING
# SET ITEM MEMILIKI KARAKTERISTIK TIDAK DAPAT DIUBAH, TIDAK BERURURATAN, TIDAK DAPAT DUPLIKAT
# KUMPULAN METHOD SET
# add, clear, copy, difference, difference_update, discard, intersection, intersection_update, isdisjoint, issubset, issuperset
# pop, remove, symmetric_difference, symmetric_difference_update, union, update

In [21]:
# SET TIDAK AKAN BERURUTAN
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'apple', 'cherry', 'banana'}

In [23]:
# SET HANYA AKAN MENGAMBIL DATA SATU SAJA JIKA DIDAPATI DUPLIKAT
thisset = {"apple", "banana", "cherry", "cherry"}
print(thisset)

{'apple', 'cherry', 'banana'}

In [27]:
# NILAI TRUE DAN 1 AKAN DIANGGAP SAMA
thisset = {"apple", "banana", "cherry", True, 1, 2}
print(thisset)

{'apple', 2, True, 'cherry', 'banana'}

In [29]:
# NILAI FALSE DAN 0 AKAN DIANGGAP SAMA
thisset = {"apple", "cherry", True, False, 0}
print(thisset)

{False, 'apple', 'cherry', True}

In [33]:
# MENGETAHUI PANJANG SET
thisset = {"apple", "cherry", "banana", "mango", "mango"} # MESKIPUN TERDAPAT 5 DATA, DATA DUPLIKAT TETAP DIHTIUNG SEBANYAK 1 SAJA
print(len(thisset))

4

In [44]:
# CONTOH TIPE DATA YANG DITAMPUNG DI SET
set1 = {True, False}
set2 = {"A", "B", "C"}
set3 = {1, 2, 3}
print(set1, set2, set3)
print(type(set1))

{False, True} {'C', 'B', 'A'} {1, 2, 3}
<class 'set'>

In [49]:
# MEMBUAT VARIABEL YANG BERISI TIPE DATA SET
thisset = set("A")
print(thisset)

{'A'}

In [52]:
# PERULANGAN/LOOPING PADA SET
thisset = {"apple", "banana", "cherry"}
for x in thisset:
    print(x)

apple
cherry
banana

In [59]:
# PENGECEKAN TERHADAP KEBERADAAN NILAI DALAM SEBUAH SET
# DAPAT MENGGUNAKAN STATEMENT IN DAN NOT IN
thisset = {"apple", "banana", "cherry"}
print("banana" in thisset)
print("banana" not in thisset)
print("mango" in thisset)

if "banana" in thisset:
    print("Banana ada di dalam set")

True
False
False
Banana ada di dalam set

In [60]:
# MENAMBAHKAN DATA PADA SET
thisset = {"apple", "banana", "cherry"}
thisset.add("mango")
print(thisset)

{'apple', 'cherry', 'mango', 'banana'}

In [66]:
# MENAMBAHKAN DATA PADA SET DALAM JUMLAH BANYAK GUNAKAN METHOD UPDATE
# UPDATE PADA SET DAPAT JUGA MERUPAKAN TIPE DATA LAIN, MISAL TUPLE
set1 = {"apple", "banana", "cherry"}
set2 = {"pineapple", "mango", "papaya"}
set1.update(set2)
print(set1)

set3 = ["coconut", "rasbery"]
set1.update(set3)
print(set1)

{'pineapple', 'apple', 'papaya', 'cherry', 'mango', 'banana'}
{'pineapple', 'apple', 'papaya', 'rasbery', 'coconut', 'cherry', 'mango', 'banana'}

In [91]:
# MENGHAPUS DATA PADA SET DAPAT MENGGUNAKAN REMOVE DAN DISCARD
# JIKA DATA YANG AKAN DIHAPUS TIDAK DITEMUKAN, DISCARD TIDAK MENAMPILKAN ERROR, SEDANGKAN REMOVE AKAN MENAMPILKAN ERROR
# POP AKAN MENGHAPUS SECARA RANDOM
set1 = {"apple", "banana", "cherry"}
set1.remove("banana")
set1.discard("apple")
# set1.pop()
# set1.clear() # MEMBERSIHKAN SET
# del set1 # MENGHAPUS SET
print(set1)

{'cherry'}

In [2]:
# MENGGABUNGKAN SET MENGGUNAKAN METHOD UNION ATAU "|"
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"d", "e", "f"}
set4 = set1.union(set2, set3)
set3 = set1 | set2 | set3
print(set4)

set5 = {"x", "y", "z"}
set6 = [3, 2, 1]
set7 = set5.union(set6) # HANYA DAPAT DILAKUKAN DARI SET KE TUPLE, SEBALIKNYA TIDAK BISA
print(set7)

{1, 2, 3, 'c', 'e', 'a', 'd', 'f', 'b'}
{1, 2, 3, 'z', 'y', 'x'}

In [3]:
# MENGGABUNGKAN UNTUK MENCARI NILAI YANG SAMA
set1 = {"a", "b", "c"}
set2 = {"a", "b", "f"}
set3 = set1.intersection(set2)
# set3 = set1 & set2
print(set3)

{'b', 'a'}

In [128]:
# MELAKUKAN UPDATE, NAMUN BERDASARKAN DATA YANG SAMA
set1 = {"a", "b", "c"}
set2 = {"a", "e", "f"}
set1.intersection_update(set2)
print(set1)

{'a'}

In [5]:
# MENCARI PERBEDAAN PADA DUA SET
set1 = {"a", "b", "c"}
set2 = {"a", "e", "f"}
set3 = set2.difference(set1)
# set3 = set1 - set2
print(set3)

{'f', 'e'}

In [129]:
# MELAKUKAN UPDATE, BERDASARKAN DATA YANG BERBEDA
set1 = {"a", "b", "c"}
set2 = {"a", "e", "f"}
set1.difference_update(set2)
print(set1)

{'b', 'c'}

In [132]:
# MENYIMPAN DATA YANG TIDAK ADA PADA KEDUA SET
set1 = {"a", "b", "c"}
set2 = {"a", "e", "f"}
set3 = set1.symmetric_difference(set2)
# set3 = set1 ^ set2
print(set3)

{'c', 'b', 'e', 'f'}

In [133]:
# MENGUPDATE DATA YANG TIDAK ADA PADA KEDUA SET PADA SALAH SATU SET
set1 = {"a", "b", "c"}
set2 = {"a", "e", "f"}
set1.symmetric_difference_update(set2)
print(set1)

{'c', 'b', 'e', 'f'}

In [192]:
# LATIHAN
set1 = (input("Masukkan himpunan pertama:"))
set2 = (input("Masukkan himpunan kedua:"))
set1 = set(set1.split(" "))
set2 = set(set2.split(" "))
set_intersection = set1.intersection(set2)
set_difference = set1.difference(set2)
set_union = set1.union(set2)
print(f"Berikut adalah elemen yang ada di kedua himpunan: ", set_intersection)
print(f"Berikut adalah elemen yang hanya ada di himpunan pertama: ", set_difference)
print(f"Berikut adalah gabungan dari kedua himpunan: ", set_union)

Masukkan himpunan pertama: makanan, 1, 2, 3
Masukkan himpunan kedua: minuman, 1, 2, 3

Berikut adalah elemen yang ada dikedua himpunan:  {'3', '2,', '1,'}
Berikut adalah elemen yang hanya ada di himpunan pertemuan:  {'makanan,'}
Berikut adalah gabungan dari kedua himpunan:  {'3', 'makanan,', '1,', 'minuman,', '2,'}

In [202]:
# LATIHAN
# kelasPython = ["Ahmad", "Agus", "Silvia", "Rachel", "Jason", "Hendra"]
# kelasJava = ["Jason", "Bela", "Asep", "Herman", "Andromeda", "Silvia"]

kelasPython  = (input("Masukkan Data Siswa Kelas Python   : "))
kelasJava    = (input("Masukkan Data Siswa Kelas Java     : "))
kelasPython  = kelasPython.split(" ")
kelasJava    = kelasJava.split(" ")
kelasPython  = set(kelasPython)
kelasJava    = set(kelasJava)

duaKelas  = kelasPython.intersection(kelasJava)
satuKelas = kelasPython.union(kelasJava)

print(f"Yang Mengikuti Kelas Python     : ", kelasPython)
print(f"Yang Mengikuti Kedua Kelas      : ", duaKelas)
print(f"Yang Mengikuti Kelas Satu Kelas : ", satuKelas)
print(f"Yang Mengikuti Kelas Java       : ", kelasJava)

Masukkan Data Siswa Kelas Python   :  ahmad, tia, pelisa
Masukkan Data Siswa Kelas Java     :  ahmad, tia, mamat

Yang Mengikuti Kelas Python     :  {'pelisa', 'tia,', 'ahmad,'}
Yang Mengikuti Kedua Kelas      :  {'tia,', 'ahmad,'}
Yang Mengikuti Kelas Satu Kelas :  {'tia,', 'pelisa', 'ahmad,', 'mamat'}
Yang Mengikuti Kelas Java       :  {'tia,', 'ahmad,', 'mamat'}